@use "./abstracts/colors";
body { 
    --color-primary: colors.$primary; 
}

$theme-colors: (
    "primary": #15b0b6,
    "secondary": #979797,
    "background": #DAE4EE
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
    overflow-x: hidden;
}