.wrapper {
    display: none;
}
@media screen and (min-width: 766px)  {
    .wrapper {
        width: 10rem;
        height: 100vh;
    }
}

.icon:hover {
    background-color:rgb(56, 56, 56);
    color: white;
}

.focus {
    background-color: white;
    color: blue;
    font-size: 2rem;
    padding: .5rem;
}