.header {
    box-shadow: 2px 0px 3px rgb(56, 56, 56);
}
@media screen and (min-width: 766px)  {
    .header {
        width: 10%;
        height: 100vh;
    }
}

.icon:hover {
    background-color:rgb(56, 56, 56);
    color: white;
}

.focus {
    background-color: white;
    color: blue;
    font-size: 2rem;
    padding: .5rem;
}
